* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-weight: 500;
    font-size: 20px;
    color:  #030203; 
    text-decoration: none;
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: #f87cf2;
}

.navlinks {
    list-style: none;
    background-color: #f87cf2;
    font-family: 'ABeeZee', sans-serif;
    font-size: 15px;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #f87cf2;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
    background-color : #f87cf2;
    border-bottom: 1px solid transparent
}

.navlinks li a:hover {
    color:  #357cff;
    transition: all 0.3s ease 0s;
    border-bottom: 2px solid #357cff
}

.topbar {
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.content {
  overflow-y: visible;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    top: 45px;
    left: 425px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  #slide1 {
      display: block;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(232, 59, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    bottom: -40px;
    left: 450px;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /*Newest entry text*/
  .entry {
    font-size: 24px;
    color: #ffffff; 
    top: 250px;
    left: 300px;
    position: absolute;
    font-family: 'ABeeZee', sans-serif;
  }

  .box-1 {
    font-size: 24px;
    position: absolute;
    right: 50%;
    top: 750px;
    background-color: #e455cc;
    color: #ffffff;
    width: 50%;
    height: 600px;
    text-align: center;
  }

  .box-2 {
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 750px;
    background-color: #a3519f;
    color: #ffffff;
    width: 50%;
    height: 600px;
    text-align: center;
    
  }

  .box-3 {
    width: 100%;
    height: 900px;
    background-color: #adadad;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 1200px;
  }


.inside {
  position: relative;
  top: 65px;
  font-family: 'ABeeZee', sans-serif;
}

.logo {
  position: relative;
  top: 165px;
  left: -125px;
}

.gallery:hover {
  border: 3px solid rgb(144, 0, 144);
}

.desc {
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.gallery {
  margin: 5px;
  border: 1px solid rgb(0, 0, 0);
  float: left;
  width: 180px;
  position: relative;
  top: 120px;
  left: 150px;
}

.gallery img {
  width: 100%;
  height: auto;
}

.allsamples {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 8vw);
  grid-gap: 90px;
  position: relative;
  right: 75px;
}

@media screen and (max-width: 360px) {

  .entry {
    font-size: 18px;
    color: #ffffff; 
    top: 175px;
    left: 50px;
    position: absolute;
    font-family: 'ABeeZee', sans-serif;
  }

  .slideshow-container {
    max-width: 360px;
    height: 320px;
    position: relative;
    margin: auto;
    top: 250px;
    left: 0px;
  }

  #images {
    max-height: 250px;
  }

  .dots {
    position: absolute;
    top: 570px;
    left: -305px;
  }

  .navlinks li {
    display: inline-block;
    padding: 0px 10px;
    background-color: #f87cf2;
}
  .logo {
    position: relative;
    top: 100px;
    left: -5px;

}

  .text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 75px;
    width: 100%;
    text-align: center;
}
  
  .inside {
    position: relative;
    top: 65px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
}

  .box-1 {
    
    position: absolute;
    right: 50%;
    top: 650px;
    background-color: #e455cc;
    color: #ffffff;
    width: 50%;
    height: 300px;
    text-align: center;
}

  .box-2 {
    
    position: absolute;
    left: 50%;
    top: 650px;
    background-color: #a3519f;
    color: #ffffff;
    width: 50%;
    height: 300px;
    text-align: center;
}

  .box-3 {
    width: 100%;
    height: 750px;
    background-color: #adadad;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 950px;
}
  
  .gallery {
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
    float: left;
    width: 100px;
    position: relative;
    top: 120px;
    left: 90px;
    
}

  .desc {
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

  .allsamples {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 8vw);
    grid-gap: 100px 75px;
    position: relative;
    right: 75px;
  }

  .prev, .next {
    top: 115px;
  }
}