* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-weight: 500;
    font-size: 20px;
    color:  #ff3ec5; 
    text-decoration: none;
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: #dfdfdf;
}

.navlinks {
    list-style: none;
    background-color: #dfdfdf;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #dfdfdf;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
    background-color : #dfdfdf;
}

.navlinks li a:hover {
    color:  #6b6b6b;
    transition: all 0.3s ease 0s;
}

.topbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
